.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20  px;
  }

  .resultSection {
    height: 25px;
    width: 25px;
    display: inline;
    margin-left: 20px;
    margin-top: 20  px;
  }
  