

<div class="container">
  <div class="row">
    <div class="col-xs-12 center-block text-center">
      <h1 class="text-xs-center">Master Mind Simulation Game</h1>
    </div>
  </div>

  <app-colorselector [masterTrial]=clickedNumber (colorChosenRequest)="onJustChoseAColor($event)"></app-colorselector>
<!--
  <div class="row"  style = "margin-top:20px" >
    <div class="col-sm">
         <span class="dot" [style.background-color]="getColorIdx(1)"></span> for 1
         <span class="dot" [style.background-color]="getColorIdx(2)"></span> for 2
         <span class="dot" [style.background-color]="getColorIdx(3)"></span> for 3
         <span class="dot" [style.background-color]="getColorIdx(4)"></span> for 4
         <span class="dot" [style.background-color]="getColorIdx(5)"></span> for 5
         <span class="dot" [style.background-color]="getColorIdx(6)"></span> for 6, Guess 4 positions     
    </div>
  </div>
-->


  

  <div class="row">
     <span *ngIf="hasGameWon() == true">
       YOU HAVE WON THE GAME!
    </span> 
  </div>

   <!-- Draw your currently chosen Balls -->
   <div class="row">
     You have chosen :
   </div>
   <div class="row"  style = "margin-top:10px; margin-bottom:10px;" >
         
        <!-- your {{i+1}}th guess is {{item}} -->
         <span *ngFor="let currBallColor of currentGuessBallList; index as i; ">
            <span class="dot" [style.background-color]="currBallColor"></span> 
          </span>
    </div>
    <div class="row" style="margin-top:20px">
      <!--
      <span style="margin:10px">
        <input type="text" [(ngModel)]="myCurrentGuess" /> 
        </span>
        -->
        <span style="margin:10px">
        <button type="button" class="btn btn-primary" [disabled]="hasGameWon() == true" (click)="onGuessNow()" >Guess Now!</button>
        </span>
        <span style="margin:10px">
        <button type="button" class="btn btn-success" (click)="onResetGameNow()" >Reset Game!</button>   
        </span>
      </div>


    <div class="row"  style = "margin-top:20px" *ngFor="let item of getGuessHistoryReverse(); index as i; ">
      <div class="col-sm">
           <!-- your {{i+1}}th guess is {{item}} -->
           <span class="dot" [style.background-color]="getColorIdxByPos(item,0)"></span> 
           <span class="dot" [style.background-color]="getColorIdxByPos(item,1)"></span>
            <span class="dot" [style.background-color]="getColorIdxByPos(item,2)"></span>
            <span class="dot" [style.background-color]="getColorIdxByPos(item,3)"></span>
            <span class="resultSection"> {{getGuessResultString(i)}}</span>
      </div>

    </div>
<!--
    <div class="row">
      <div class="col-sm">
        <span class="dot" [style.background-color]="getColorIdx(1)"></span>
        <span class="dot" [style.background-color]="getColorIdx(2)"></span>
        <span class="dot" [style.background-color]="getColorIdx(3)"></span>
        <span class="dot" [style.background-color]="getColorIdx(4)"></span>
        
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      -->
    </div>
  
<!--
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
<p>Debug session : {{debugSelectedColor}}</p>
<p>Ball List : {{currentGuessBallList.length}}</p>

-->