<div class="row" style="background-color: #dddddd;">
    You have clicked {{trial}} times (This is child component)
</div>
<div class="row" style="background-color: #dddddd;">
    Please Select Color Here :
</div>
<div class="row" style="background-color: #dddddd;">
    <div class="col-sm">
            <span class="dot" (click)="clickedColor('black')" style="background-color:black"></span>
            <span class="dot" (click)="clickedColor('yellow')" style="background-color:yellow"></span>
            <span class="dot" (click)="clickedColor('blue')" style="background-color:blue"></span> 
            <span class="dot" (click)="clickedColor('red')" style="background-color:red"></span> 
            <span class="dot" (click)="clickedColor('green')" style="background-color:green"></span> 
            <span class="dot" (click)="clickedColor('purple')" style="background-color:purple"></span> 
    </div>
</div>


